!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/deck.core.css')
    link(rel='stylesheet', href='/stylesheets/themes/style/swiss.css')
    link(rel='stylesheet', href='/stylesheets/themes/transition/vertical-slide.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/modernizr.custom.js')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/deck.core.js')
    script(type='text/javascript', src='/javascripts/jquery.tools.min.js')
  body!= body
