html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 10px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
  border: 2px solid brown;
}

p {
  font-size: 1.2em;
  text-align: justify;
}

.tooltip {
  display: none;
  background-color: rgba(0,0,0,0.8);  
  color: white;
  padding: 5px;
  width: 450px;
  text-align: left;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 20px #111;
}

a {
  color: #00B7FF;
}

#home {
  display: block;
  float: left;
  width: 100%;
}

#home h1, #home h1 {
  z-index: 10;
  top: 0px;
  font-size: 2em;
  color: white;
}

#home h2 {
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 300px;
  z-index: 10;
  font-size: 1.5em;
  color: white;
}

.frame {
  background: #fff;
  color: #111;
  padding: 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: -1px -2px 10px #c9c9c9, 1px 2px 15px #c9c9c9;
  border: 2px solid silver;
}

.title {
  text-shadow: -1px -1px 1px rgba(100,100,100,0.5), -1px 1px 1px rgba(0,0,0,0.4);
}


.img-home {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url('../images/jokte-colombia.jpg') no-repeat;
  width: 840px;
  height: 550px;
  margin-left: -420px;
  margin-top: -275px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: -1px -2px 10px #c9c9c9, 1px 2px 15px #c9c9c9;
}

